{% extends "base.html" %}

{% block title %}Login - To-Do List App{% endblock %}

{% block content %}
        <div class="login-container">
            <h1>Login</h1>
            <form method="post" action="/login">
            <label for="username">Username:</label>
            <input class="login-input" type="text" id="username" name="username" required>
            <br><br>
            <label for="password">Password:</label>
            <input class="login-input" type="password" id="password" name="password" required>
            <br><br>
            <button class="login-btn" type="submit">Login</button>
            <br><br>
            <a href="{{ url_for('register.register') }}">Don't have an account? Register here.</a>
            </form>
        </div>
{% endblock %}